.container {
  display: grid;
  grid-template:
    "header" 1fr
    "main" 2fr
    "footer" 5rem /
    1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  margin: 4rem 2rem;
}

.main {
  grid-area: main;
  display: grid;
  grid-template:
    "content counter" 1fr /
    2fr 1fr;

  @media (max-width: 727px) {
    grid-template:
      "counter" 1fr
      "content" 2fr /
      1fr;
  }
}

.counter {
  grid-area: counter;
  margin: 5rem 1rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 25rem;

  @media (max-width: 727px) {
    margin: 2rem 1rem;
  }
}

.content {
  grid-area: content;
  margin: 5rem;
  @media (max-width: 727px) {
    margin: 3rem;
  }
}

.footer {
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;

  img {
    margin-left: 0.5rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;

  a {
    color: #0070f3;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: underline;
  }
}

.title,
.subtitle {
  text-align: center;
}

.subtitle {
  line-height: 1.5;
  font-size: 1.5rem;
}
